@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rowdies:wght@300&family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.hero {
    background-image:url(../assets/fondo-principal-mate1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    
}


.hero__container {


    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100%;
    width: 100%;
    letter-spacing: 5px;

}


.btn {


    border: none;
    box-shadow: 0 0 11px 0 #285430;

}

.btn:hover {
    background-color: #048324;
    transition: .5s;
    box-shadow: 0 0 11px 0 #004c13;
    cursor: pointer;
}



header {
    background-color: #e5d9b6;
    width: 100%;
    height: 100%;
    top: 0;
    position: sticky;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}

header nav p {
    font-size: 20px;
    color: #004c13;
    font-weight: bold;
    margin: 20px;
}


nav ul {
    display: flex;
    justify-content:  flex-end;
    flex-direction: row;
    list-style: none;
    padding: 2px;
    gap: 10px;
    width: 50%;
    font-size: 16px;
    margin: 10px;
    
}

.li-0:hover {
    letter-spacing: 3px;
    transition: .5s;
}



.li-1:hover {
    letter-spacing: 3px;
    font-weight: bold;
    transition: .4s;
}


.li-2:hover {
    letter-spacing: 3px;
    font-weight: bold;
    transition: .4s;
}


.li-3:hover {
    letter-spacing: 3px;
    font-weight: bold;
    transition: .4s;
}

header nav a {
    text-decoration: none;
    color: #004c13
}

.info {
    background-color: #a4be7b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.info img {
    margin: 10px;
    border-radius: 20px;
}


.info__text {
    width:55%;
    flex-direction: column;
    color: #0a301d;
    align-items:center;
    justify-content: space-between;

}

.info__text p {
    font-size: 27px;
    font-family: 'Secular One', sans-serif;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #5F8D4E;
    gap: 400px;
}


.card {
    position: relative;
    border-radius: 25px;
    height: 550px;
    width: 23rem;
    border: none;
    background-color: #e5d9b6;
    position:static;
}


.card img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    border: none;
    height: 200px;
    width: 100%;
    border-bottom: 3px #1e9328 dotted;
}



.card-title {
    text-align: center;
    font-size: 28px;
    font-family: 'Rowdies', sans-serif;
    color: #004c13;
}

.card-text {
    text-align: center;
    font-family:'Secular One', sans-serif;
    color: #004c13;
    font-size: 20px;

}

b {
    color: #1e9328;
    font-family: 'Rowdies', sans-serif;
}




footer {
    background-color: #e5d9b6;
    width: 100%;
    height: 100%;
}

.footer__text {
    height: 100%;
    width: 100%;
    
}

.footer__text p {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    color: #004c13;
}

.footer__imgs {
    height: 100%;
    width: 100%;
    display: flex;

}

.footer__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.fa-brands {
    font-size: 38px;
    color: #285430;
    margin-bottom: 20px;
}













/* CONTACTO */

.form-section {
    height: 100%;
    width: 100%;
    background-color: #a4be7b;
    
}

.form-section h1 {
    text-align: center;
    color: #000;
    font-size: 42px;
    padding: 30px;
    font-family: 'Secular One', sans-serif;
    
}

.forms {
    display: flex;
    justify-content: space-around;
}

.forms img {
    width: 40%;
    height: 100%;
    margin: 40px;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.form input {
    background-color: #eee;
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 15px;
    outline: 1px solid #5F8D4E;
    text-align: center;
    font-size: 15px;
}

form label {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-family: 'Rowdies', sans-serif;
}

input::placeholder {
    text-align: center;
    color: #1e9328;
    font-family: 'Secular One', sans-serif;
    font-size: 17px;
}



input:hover {
    border: none;
    box-shadow: 0px -7px 0px -1px #e5d9b6;
    transition: .5s;


}

textarea {
    resize: none;
    width: 90%;
    height: 70px;
    border-radius: 15px;
    border: none;
    text-align: center;
    outline: 1px solid #5F8D4E;
}

textarea:hover {
    border: none;
    box-shadow: 0px -7px 0px -1px #e5d9b6;
    transition: .5s;

}

.submit-btn {
    font-family: 'Secular One', sans-serif;
    color: #1e9328;
}


.submit-btn:hover {
    background-color: #e5d9b6;
    color: #000;
    box-shadow: none;
    transition: .3s;

}









.products-info {
    width: 100%;
    height: 100%;
    
}

.products__title h1 {
    text-align: center;
    padding: 45px 0;
    color:#000;
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
}

.products__subtitle h3 {
    text-align: center;
    margin: 70px 0;
    color: #000;
    font-size: 30px;
    font-family: 'Rowdies', sans-serif;
    letter-spacing: 3.5px;
}





.products {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 30%;
    height: 100%;
    border-left:  2.5px rgb(222, 222, 222) solid;
    border-right:  2.5px rgb(222, 222, 222) solid;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    background-color: #fff;
}




.product img {
    margin: auto;
    width: 200px;
    height: 220px;
}

.divider {
    background-color: #a4be7b;
    width: 50%;
    height: 2px;
    display: flex;
    align-self: center;
    margin: 15px 0;
    
}

.product__text h4{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    font-family: 'Secular One', sans-serif;
    color: #02631a;
    font-size: 23px;
}

.product__text p{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rowdies', sans-serif;
    color: #1e9328;
    font-size: 20px;
}

.fa-solid {
    color: #1e9328;
    font-size: 17px;
}


.product__button {
    margin: 15px;
}



.product:hover {
    box-shadow: 3px 15px 37px 13px #004c13;
    transition: .6s;
    border: none;
    cursor: pointer;
}






.mate-info {
    height: 100%;
    width: 100%;
    
}

.cards__video {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 100px 0;
    justify-content: center;
} 

.card__video h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Secular One', sans-serif ;
}

.card__video p {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    font-family: 'Rowdies', sans-serif;
}

.card__video iframe {
    width: 700px;
    height: 400px;

}





.clients-info {
    width: 100%;
    height: 100%;
    background-color: #285430;
}


.clients-info h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    color: #eee;
    letter-spacing: .5px;
    font-family: 'Secular One', sans-serif;
}

.clients {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.client {
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.client img {
    height: 110px;
    width: 110px;
    border-radius: 50%;

}

.client__text h6{
    color: rgb(245, 245, 11);
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px;
    padding: 5px;
    font-family: 'Lobster','Roboto', sans-serif;
}

.client__text p {
    color: #eee;
    margin: 20px;
    font-size: 17px;

}

.fa-quote-left, .fa-quote-right {
    font-size: 20px;
    color: rgb(213, 213, 15);
}






@media only screen and (max-width: 320px) {

/*HEADER*/

header {
    position: relative ;
}


nav {
    display: grid;
    justify-content: center;

    

}



header nav p {
    text-align: center;

}


nav ul {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 19px;
    gap: 15px ;
    margin: 0;
    padding: 0;
}

li a {
    margin: 20px 0;
    display: grid;

}

/*INFO*/



.info {
    justify-content: center;
    flex-direction: column;

}

.info img {

    height: 40%;
    width: 90%;

}


.info__text {
    width:100%;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.info__text p {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

}

/*CARDS*/




.cards {
    flex-direction: column;
    gap: 0px;
}



.card {
    width: 90%;
    align-self: center;
    height: 590px;
}















/*CLIENTES*/



.clients {
    display: grid;
    justify-content: center;

}


.client {
    display: flex;
    align-items: center;

}


.client__text h6 {
    text-align: center;
    font-size: 17px;
}

.client__text p {
    text-align: center;
}



/*PRODUCTOS*/





.products {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;

    
}

.products__subtitle h3 {

    letter-spacing: .7px;
}

.product {
    width: 230px;


}

.product img {
    width: 200px;
    height: 230px;
}


.product__button {
    margin-bottom: 10px;

}

.divider {

    width: 70%;

}


.product:hover {
    box-shadow: 3px 3px 37px 3px #004c13;
    transition: .6s;
    border: none;
    cursor: pointer;
}

.separate {
    width: 100%;
    height: 50px;
}




/*IFRAME*/




.card__video h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Secular One', sans-serif ;
}

.card__video p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: 'Rowdies', sans-serif;
}

.card__video iframe {
    width: 90%;
    height: 70%;
    margin-left: 10px;

}








}






















/*

@media only screen and (min-width: 480px) {







.info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;

}

.info img{
    width: 100%;
    margin: auto;

}

.info__text {
    width: 100%;
    margin: auto;

}



.cards-info {
    width: 100%;
}











.cards-info h3 {
    color: #000;
    text-align: center;
    height: 100%;
}

.cards-info {
    background-color: #5F8D4E;
    height: 100%;
}

.cards-info h3 {
    padding: 20px;
    font-size: 25px;
}


.cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.card {
    width: 400px;
    background-color: #e5d9b6;
    height: 508px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.card img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.card__text h4 {
    text-align: center;
    color: #004c13;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}


.card__text p {
    color: #004c13;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.card__button{
    display: flex;
    justify-content: center;
}


s

}
*/















/* 
background color del header #e5d9b6
color del header (Inicio - contact-us - products) #004c13



*/
