@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rowdies:wght@300&family=Unbounded:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

b {
  color: #1e9328;
  font-family: 'Rowdies', sans-serif; }

.products-info .products .product img {
  width: 200px;
  height: 220px; }

header {
  background-color: #e5d9b6;
  width: 100%;
  height: 100%;
  top: 0;
  position: sticky;
  z-index: 1; }
  header nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 20px; }
    header nav .navbar-brand {
      font-size: 20px;
      color: #004c13;
      font-family: "Roboto", sans-serif; }
      header nav .navbar-brand:hover {
        letter-spacing: 3px;
        transition: .5s;
        color: #004c13; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      list-style: none;
      padding: 2px;
      width: 100%;
      font-size: 16px;
      margin: 10px; }
      header nav ul .nav-item a {
        font-size: 16px;
        color: #004c13;
        font-family: "Roboto", sans-serif; }
        header nav ul .nav-item a:hover {
          letter-spacing: 3px;
          transition: .5s;
          color: #004c13; }

footer {
  background-color: #e5d9b6;
  width: 100%;
  height: 100%; }
  footer .footer__text {
    height: 100%;
    width: 100%; }
    footer .footer__text p {
      text-align: center;
      padding: 25px;
      font-size: 20px;
      color: #004c13; }
    footer .footer__text .footer__imgs {
      height: 100%;
      width: 100%;
      display: flex; }
      footer .footer__text .footer__imgs .footer__img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 40px; }
        footer .footer__text .footer__imgs .footer__img .fa-brands {
          font-size: 38px;
          color: #285430;
          margin-bottom: 20px; }
          footer .footer__text .footer__imgs .footer__img .fa-brands:hover {
            transform: scale(1.1, 1.1);
            transition: .6s; }

.hero {
  background-image: url(../assets/fondo-principal-mate1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh; }
  .hero .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
    .hero .hero__container .hero__title {
      font-weight: bold;
      letter-spacing: 5px;
      color: #eee;
      font-size: 40px; }

.info {
  background-color: #a4be7b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh; }
  .info img {
    margin: 10px;
    border-radius: 20px; }
  .info .info__text {
    width: 55%;
    flex-direction: column;
    color: #0a301d;
    align-items: center;
    justify-content: space-between; }
    .info .info__text p {
      font-size: 27px;
      font-family: "Secular One", sans-serif; }

.cards-info {
  width: 100%;
  height: 100%;
  background-color: #5F8D4E; }
  .cards-info h2 {
    text-align: center;
    padding-top: 50px;
    font-family: "Secular One", sans-serif;
    font-size: 30px;
    color: #eee; }
  .cards-info .cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 400px; }
    .cards-info .cards .card {
      border-radius: 25px;
      height: 540px;
      width: 24rem;
      border: none;
      background-color: #e5d9b6;
      position: static; }
      .cards-info .cards .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
        border: none;
        border-bottom: 3px #1e9328 dotted; }
      .cards-info .cards .card .card-title {
        text-align: center;
        font-size: 28px;
        font-family: "Rowdies", sans-serif;
        color: #004c13; }
      .cards-info .cards .card .card-text {
        text-align: center;
        font-family: "Secular One", sans-serif;
        color: #004c13;
        font-size: 20px; }

.clients-info {
  width: 100%;
  height: 100%;
  background-color: #285430; }
  .clients-info h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    color: #eee;
    letter-spacing: .5px;
    font-family: "Secular One", sans-serif; }
  .clients-info .clients {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .clients-info .clients .client {
      flex-direction: column;
      margin: 20px; }
      .clients-info .clients .client img {
        width: 110px;
        height: 110px;
        border-radius: 50%; }
      .clients-info .clients .client .client__text h4 {
        color: #f5f50b;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 10px;
        padding: 5px;
        font-family: "Lobster", sans-serif; }
      .clients-info .clients .client .client__text p {
        color: #eee;
        margin: 20px;
        font-size: 17px; }
        .clients-info .clients .client .client__text p .fa-quote-left,
        .clients-info .clients .client .client__text p .fa-quote-right {
          font-size: 20px;
          color: #f5f50b; }

.btn {
  border: none;
  box-shadow: 0 0 11px 0 #285430; }
  .btn :hover {
    background-color: #048324;
    transition: .5s;
    box-shadow: 0 0 11px 0 #004c13;
    cursor: pointer; }

.form-section {
  height: 100%;
  width: 100%;
  background-color: #a4be7b; }
  .form-section h1 {
    text-align: center;
    color: #000;
    font-size: 42px;
    padding: 30px;
    font-family: "Secular One", sans-serif; }
  .form-section .forms {
    display: flex;
    justify-content: space-around; }
    .form-section .forms img {
      width: 40%;
      height: 100%;
      margin: 40px;
      border-radius: 30px; }
    .form-section .forms form {
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 100%;
      align-items: center; }
      .form-section .forms form label {
        text-align: center;
        font-size: 25px;
        color: #eee;
        font-family: "Rowdies", sans-serif; }
      .form-section .forms form .form {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
        align-items: center; }
        .form-section .forms form .form input {
          background-color: #eee;
          width: 90%;
          height: 45px;
          border: none;
          border-radius: 15px;
          outline: 1px solid #5F8D4E;
          text-align: center;
          font-size: 15px; }
          .form-section .forms form .form input::placeholder {
            text-align: center;
            color: #1e9328;
            font-family: "Secular One", sans-serif;
            font-size: 17px; }
          .form-section .forms form .form input:hover {
            border: none;
            box-shadow: 0px -7px 0px -1px #e5d9b6;
            transition: .5s; }
        .form-section .forms form .form textarea {
          resize: none;
          width: 90%;
          height: 70px;
          border-radius: 15px;
          border: none;
          text-align: center;
          outline: 1px solid #5F8D4E; }
          .form-section .forms form .form textarea:hover {
            border: none;
            box-shadow: 0px -7px 0px -1px #e5d9b6;
            transition: .5s; }
        .form-section .forms form .form .submit-btn {
          font-family: "Secular One", sans-serif;
          color: #1e9328; }
          .form-section .forms form .form .submit-btn:hover {
            background-color: #e5d9b6;
            color: #000;
            box-shadow: none;
            transition: .3s; }

.products-info {
  width: 100%;
  height: 100%; }
  .products-info .products__title h1 {
    text-align: center;
    padding: 45px 0;
    color: #000;
    font-size: 40px;
    font-family: "Secular One", sans-serif; }
  .products-info .products__subtitle h2 {
    text-align: center;
    margin: 70px 0;
    color: #000;
    font-size: 30px;
    font-family: "Rowdies", sans-serif;
    letter-spacing: 3.5px; }
  .products-info .products {
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: space-between;
    gap: 10px; }
    .products-info .products .product {
      width: 30%;
      height: 100%;
      background-color: #fff;
      border-left: 2.5px #dedede solid;
      border-right: 2.5px #dedede solid;
      margin: 20px;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .products-info .products .product:hover {
        box-shadow: 3px 15px 37px 13px #004c13;
        transition: .6s;
        border: none;
        cursor: pointer; }
      .products-info .products .product img {
        margin: auto; }
      .products-info .products .product .divider {
        background-color: #a4be7b;
        width: 50%;
        height: 2px;
        display: flex;
        align-self: center;
        margin: 15px 0; }
      .products-info .products .product .product__text .fa-solid {
        color: #1e9328;
        font-size: 17px; }
      .products-info .products .product .product__text h3 {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 5px 0;
        font-family: "Secular One", sans-serif;
        color: #02631a;
        font-size: 23px; }
      .products-info .products .product .product__text p {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        font-family: "Rowdies", sans-serif;
        color: #1e9328;
        font-size: 20px; }
      .products-info .products .product .product__text .product__button {
        margin: 15px; }
  .products-info .mate-info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .products-info .mate-info .card {
      height: 100%;
      width: 50%;
      background-color: #f2eeee;
      border: #198754 2px solid;
      border-radius: 25px; }
      .products-info .mate-info .card .card-title {
        text-align: center;
        font-size: 28px;
        font-family: "Rowdies", sans-serif;
        color: #004c13; }
      .products-info .mate-info .card .card-text {
        text-align: center;
        font-family: "Secular One", sans-serif;
        color: #004c13;
        font-size: 20px; }
    .products-info .mate-info iframe {
      align-self: center;
      width: 90%;
      height: 400px;
      margin-bottom: 30px;
      border-radius: 20px; }

.btn {
  border: none;
  box-shadow: 0 0 11px 0 #285430; }
  .btn:hover {
    background-color: #048324;
    transition: .5s;
    box-shadow: 0 0 11px 0 #004c13;
    cursor: pointer; }

@media only screen and (max-width: 320px) {
  header {
    position: relative;
    display: grid; }
    header nav .navbar-brand {
      text-align: center;
      width: 100%;
      margin: 10px;
      padding: 0; }
    header nav ul {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0; }
      header nav ul .nav-item a {
        margin: 20px 0;
        font-size: 20px; }
  .info {
    justify-content: space-evenly;
    flex-direction: column; }
    .info img {
      height: 40%;
      width: 90%; }
    .info .info__text {
      width: 100%;
      padding: 10px;
      align-items: center;
      justify-content: center; }
      .info .info__text p {
        text-align: center;
        font-size: 20px; }
  .cards-info .cards {
    flex-direction: column;
    gap: 0px; }
    .cards-info .cards .card {
      width: 90%;
      align-self: center;
      height: 100%; }
  .clients-info .clients {
    display: grid;
    justify-content: center; }
    .clients-info .clients .client {
      display: flex;
      align-items: center; }
      .clients-info .clients .client .client__text h4 {
        text-align: center;
        font-size: 17px; }
      .clients-info .clients .client .client__text p {
        text-align: center; }
  .form-section .forms {
    justify-content: center;
    flex-direction: column; }
    .form-section .forms img {
      align-self: center;
      width: 90%;
      margin: 0 0 20px 0; }
    .form-section .forms form {
      width: 100%; }
      .form-section .forms form label {
        margin: 20px 0; }
      .form-section .forms form .form {
        height: 100%; }
        .form-section .forms form .form textarea {
          margin-bottom: 50px; }
        .form-section .forms form .form .submit-btn {
          margin-bottom: 50px; }
  .products-info .separate {
    width: 100%;
    height: 50px; }
  .products-info .products__subtitle h2 {
    letter-spacing: .7px; }
  .products-info .products {
    height: 100%;
    display: grid;
    justify-content: center; }
    .products-info .products .product {
      width: 90%; }
      .products-info .products .product:hover {
        box-shadow: 3px 3px 37px 3px #004c13;
        transition: .6s; }
      .products-info .products .product img {
        width: 200px;
        height: 230px; }
      .products-info .products .product .divider {
        width: 70%; }
      .products-info .products .product .product__text .product__button {
        margin-bottom: 10px; }
  .products-info .mate-info .card {
    width: 100%; }
  .products-info .mate-info iframe {
    width: 200px;
    height: 200px; } }

@media only screen and (max-width: 480px) {
  header {
    position: relative;
    display: grid; }
    header nav .navbar-brand {
      text-align: center;
      width: 100%;
      margin: 10px;
      padding: 0; }
    header nav ul {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0; }
      header nav ul .nav-item a {
        margin: 20px 0;
        font-size: 20px; }
  .info {
    justify-content: space-evenly;
    flex-direction: column; }
    .info img {
      width: 90%;
      height: 40%; }
    .info .info__text {
      width: 100%;
      padding: 10px;
      align-items: center;
      justify-content: center; }
      .info .info__text p {
        text-align: center;
        font-size: 20px; }
  .cards-info .cards {
    flex-direction: column;
    gap: 0px; }
    .cards-info .cards .card {
      width: 90%;
      align-self: center;
      height: 100%; }
  .clients-info .clients {
    display: grid;
    justify-content: center; }
    .clients-info .clients .client {
      display: flex;
      align-items: center; }
      .clients-info .clients .client .client__text h4 {
        text-align: center;
        font-size: 17px; }
      .clients-info .clients .client .client__text p {
        text-align: center; }
  .form-section .forms {
    justify-content: center;
    flex-direction: column; }
    .form-section .forms img {
      align-self: center;
      width: 90%;
      margin: 0 0 20px 0; }
    .form-section .forms form {
      width: 100%; }
      .form-section .forms form label {
        margin: 20px 0; }
      .form-section .forms form .form {
        height: 100%; }
        .form-section .forms form .form textarea {
          margin-bottom: 50px; }
        .form-section .forms form .form .submit-btn {
          margin-bottom: 50px; }
  .products-info .separate {
    width: 100%;
    height: 50px; }
  .products-info .products__subtitle h2 {
    letter-spacing: .7px; }
  .products-info .products {
    height: 100%;
    display: grid;
    justify-content: center; }
    .products-info .products .product {
      width: 90%; }
      .products-info .products .product:hover {
        box-shadow: 3px 3px 37px 3px #004c13;
        transition: .6s; }
      .products-info .products .product img {
        width: 200px;
        height: 230px; }
      .products-info .products .product .divider {
        width: 70%; }
      .products-info .products .product .product__text .product__button {
        margin-bottom: 10px; }
  .products-info .mate-info .card {
    width: 100%; }
    .products-info .mate-info .card iframe {
      width: 200px;
      height: 200px; } }
