//COLOR VARS

$color-main: #004c13;//tmb para back y box shadow
$color-subtitle:#000;
$color-title: #eee; //bg input - product tmb
$color-sm: #285430; //sm: social media, para btn y clients 
$color-clients: #f5f50b;
$color-ph: #1e9328; //ph: placeholder

//BACKGROUND VARS

$back-header: #e5d9b6; //card, input hover, footer tmb
$back-info: #a4be7b; //divider tmb
$back-cards: #5F8D4E; //input, textarea tbm

//FONT VARS

$font-main: 'Roboto';
$font-sec: 'Secular One';
$font-thi: 'Rowdies';
$font-c: 'Lobster';







